/*NORMALIZE*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*FIN NORMALIZE*/
/*INICIO INDEX*/
h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  color: gray;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: xx-large;
  
}



h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

p {
  font-family: "Hind Madurai", sans-serif;

}

body {
  background-color: #f9f3ee;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #f9ceee;
  background-size: contain;
  background-position: center center;
  flex-wrap: wrap;
  max-width: 100%;

}

footer {
  background-color: #ccf3ee;
  text-decoration: none;
  list-style-type: none;
  padding-left: 10PX;
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: flex-end;
}

nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 10px;
}

.menu__footer {
  display: flex;
  list-style-type: none;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  flex-wrap: wrap;
  gap: 5px;
 
}

.Menu__footer__prod {
  list-style: none;
  font-size: small;

}

.menu__list__prod {
  text-decoration: none;
  color: gray;

}

.menu__link__footer {
  text-decoration: none;
  color: gray;
}

picture {
  display: flex;
  justify-content: center;
  height: 150px;
}

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  width: fit-content;
  gap: 30px;

}

.menu__link {
  text-decoration: none;
  color: white;
}

.menu__menu__list {
  list-style-type: none;
}

.nav__list__prod {
  text-decoration: none;
  color: white
}
/*FIN INDEX*/
/* NOVEDADES */
.card__section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap;

}
.card__index {
  display: grid;
  
  
}

.card__index__news {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  background-color: white;
  margin: auto;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  gap: 15px;
  flex-direction: column;
}

.card__descripcion {
  font-family: "Hind Madurai", sans-serif;
  color: #97C4B8;
}

.card__precio {
  color: grey;
  font-size: 22px;
}

.card__index__news button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #97C4B8;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
}

.card__index__news button:hover {
  opacity: 0.7;
}
/*FIN NOVEDADES*/
/*BOOSTRAP*/
.carousel-inner img {
  max-width: max-content 100px;
  max-height: 460px;
}

.carousel-inner{
height:auto ;
}
/*FIN BOOSTRAP*/
/*FIN INDEX*/

/* INICIO PRODUCTOS*/

.products__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: auto;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.products__link{
  height: 400px;
  width: 400px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  grid-template-areas: "main";
  overflow:hidden;
  cursor: pointer;
  text-decoration: none;
  background-color:cornflowerblue;
}

.products__link >*{
  grid-area: main;
}
.products__img{
  height:max-content;
  width: max-content;
}

.products__link > .products__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: transform 400ms; filter: 400ms ;
}
.products__link > .products__text {
  opacity: 0;
  color: white;
  font-size: 1.8em;
  transition: opacity 400ms; transform: 400ms;
}
.products__link:is(:hover, :focus) > .products__img {
  transform: scale(1.1);
  filter: brightness(0.4);
}
.products__link:is(:hover, :focus) > .products__text {
  transform: scale(1.2);
  opacity: 1;
  
}

main  {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  justify-items: center;
  max-width:  100%;
  max-height: 100%;
  padding-top: 50px;
}

.card__aside{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width:  100%;
  max-height: 100%;
  padding-top: 50px;
  flex-basis: auto;
  position: absolute;
  right:80%;
}
.card_header{
  background-color: #f9ceee;
}
/*FIN PRODUCTOS*/

/* INICIO CONTACTO*/
.mb-3{
  display: block;
  max-width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  
}
.form__contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9ceee;
  padding: 20px;
  
}
/*FIN CONTACTO*/

/* INICIO REGISTRATE*/
.formulario__registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Hind Madurai", sans-serif;
  font-size: small;

}

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.titulo {
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: grey;

}

.formulario__container {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px;
}

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;

}

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0;
}

.registro__boton {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #97C4B8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px;
}

.registro__boton:hover {
  background-color: #F9F3EE;
  transform: translateY(-2px);
  color: black;
}

.input:focus+.label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #97C4B8;
}

.input:focus {
  border: 2px solid #97C4B8;
}

.input:not(:placeholder-shown)+.label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}
/*FIN REGISTRATE*/

/* INICIO TUTORIALES*/

.video__section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  font-family: "Hind Madurai", sans-serif;
  font-size: small;
  gap: 20px;
  padding-bottom: 50px;
  padding-top: 100px;
}
.video__off {
  max-width: fit-content;
}
.video__parrafo{
font-family: "Nunito Sans", sans-serif;
font-weight: bold;
display: flex;
justify-content: center;

} 

  /*FIN TUTORIALES*/
  
  /* MEDIA QUERIES*/

  @media screen and (max-width:480px) {
    header body main nav footer {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
}

