/* MISC */
/* VARIABLES */
/* colors */
/* spacings */
/* fonts family */
/* fonts size */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Fira Sans Condensed", sans-serif;
  color: grey; }

h2 {
  font-family: "Fira Sans Condensed", sans-serif;
  color: grey;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-size: 2.4em;
  font-weight: bold; }

h3 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold; }

h5 h6 {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold; }

p {
  font-family: "Hind Madurai", sans-serif; }

a {
  font-family: "Hind Madurai", sans-serif;
  color: grey;
  text-decoration: none; }

body {
  background-color: #F9F3EE;
  flex-direction: row; }

header {
  display: flex;
  flex-direction: column;
  background-color: #F9CEEE;
  background-size: contain;
  background-position: center center;
  flex-wrap: wrap;
  max-width: 100%; }

/* PARTIALS */
nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-left: 10px; }

.header__elements {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  gap: 30px;
  padding-right: 40px;
  padding-bottom: 10px; }

.header__icon {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 100%;
  height: 30px; }
  .header__icon img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .header__icon:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }

.column#zoomIn img {
  -webkit-transform: scale(0.5);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out; }

.column#zoomIn:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

figure {
  display: flex;
  justify-content: center; }

.img__logo {
  margin-top: 30px;
  width: 150px;
  height: 150px;
  filter: drop-shadow(5px 5px 1px #b8b8b8); }

.menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bolder;
  width: fit-content;
  gap: 30px; }

.menu__link {
  text-decoration: none;
  color: white; }

.menu__menu__list {
  list-style-type: none; }

.nav__list__prod {
  text-decoration: none;
  color: white; }

.site-footer {
  background-color: #CCF3EE;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #4b3939;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #737373;
  text-decoration: none; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block; }

.footer-links a {
  color: #737373; }

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #97C4B8;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0; }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

/* VIEWS */
/* INDEX */
.carousel-inner {
  height: auto; }
  .carousel-inner img {
    width: 100px;
    max-height: 460px; }

.card__section {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  padding-top: 100px;
  flex-wrap: wrap; }

.card__index {
  display: grid; }

.card__index__news {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 150px;
  background-color: white;
  margin: auto;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  gap: 15px;
  flex-direction: column; }
  .card__index__news button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #97C4B8;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold; }
    .card__index__news button:hover {
      opacity: 0.7; }

.card__descripcion {
  font-family: "Hind Madurai", sans-serif;
  color: #97C4B8; }

.card__precio {
  color: grey;
  font-size: 22px; }

/* PRODUCTOS */
.products__main {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 20px;
  margin: 0 auto;
  justify-items: center;
  max-width: fit-content; }

.products__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: auto;
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.products__link {
  height: 400px;
  width: 400px;
  border-radius: 4px;
  margin: 0.5rem;
  display: grid;
  place-items: center;
  grid-template-areas: "main";
  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
  background-color: cornflowerblue; }

.products__link > * {
  grid-area: main; }

.products__img {
  height: max-content;
  width: max-content; }

.products__link > .products__img {
  width: 100%;
  aspect-ratio: 1/1;
  transition: transform 400ms;
  filter: 400ms; }

.products__link > .products__text {
  opacity: 0;
  color: white;
  font-size: 1.8em;
  transition: opacity 400ms;
  transform: 400ms; }

.products__link:is(:hover, :focus) > .products__img {
  transform: scale(1.1);
  filter: brightness(0.4); }

.products__link:is(:hover, :focus) > .products__text {
  transform: scale(1.2);
  opacity: 1; }

/* APRENDE CROCHET */
/* CONTACTO */
.contacto__contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  height: 100vh; }

.contacto__header {
  font-family: "Hind Madurai", sans-serif;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px; }

.formulario__contacto {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); }

.formulario__titulo {
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'Fira Sans Condensed', sans-serif;
  color: grey; }

.contacto__container {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px; }

.formulario__box {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1; }

label .formulario__label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0; }

.button__formulario {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #97C4B8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px; }

.button__formulario:hover {
  background-color: #F9F3EE;
  transform: translateY(-3px);
  color: black; }

.formulario__box:focus + .formulario__label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #97C4B8; }

/* REGISTRATE */
.formulario__registro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Hind Madurai", sans-serif;
  font-size: small; }

.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2); }

.titulo {
  font-size: 4.6em;
  margin-bottom: 50px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: grey; }

.formulario__container {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 17px; }

.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1; }

::placeholder {
  color: transparent; }

.label {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  z-index: 0; }

.registro__boton {
  display: block;
  margin-left: auto;
  padding: 15px 30px;
  border: none;
  background-color: #97C4B8;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 30px; }

.registro__boton:hover {
  background-color: #F9F3EE;
  transform: translateY(-2px);
  color: black; }

.input:focus + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #97C4B8; }

.input:focus {
  border: 2px solid #97C4B8; }

.input:not(:placeholder-shown) + .label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600; }

/* QUIENES SOMOS */
.card__manos {
  max-width: 100%; }

/* GORROS */
/* ROPA */
/* LETRAS */
/* AMIGURUMIS */
