.checkout__section {
	background-color: $color-background;
	text-align: center;
	padding: $spacing-medium;
}
.cart__image2 {
	position: relative;
	left: 40px;
	bottom: 15px;
	&:hover{
    -webkit-transform: scale(1.1);
	transform: scale(1.4);
    }
}
	.cart__image3 {
		position: relative;
		left: 25px;
		bottom: 15px;
		&:hover{
    -webkit-transform: scale(1.1);
		transform: scale(1.4);
	}
	.form__check__type {
		text-align: left;
	}
}
