/* INDEX */ 
.carousel-inner {
	height: auto;
	img {
		width: 100px;
		max-height: 460px;
	}
}

/* NOVEDADES */
.card__index__news{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	max-width: 100%;
	gap:$spacing-xsmall;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
 
}
.wrapper {
	display:flex ;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	font-family: $font-title;
	max-width: fit-content;
	flex-wrap: wrap;
	

}
.outer {
	position: relative;
	background: #fff;
	height: 350px;
	width: 550px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.card__img__index {
	position: absolute;
	top: 25px;
	right: -5px;
	z-index: 0;
	animation-delay: 0.5s;
}
.card__img__index__ropa{
	position: absolute;
	top: -5px;
	right: 5px;
	z-index: 0;
	animation-delay: 0.5s;
}
.content {
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3;
}
h1 {
	color: $color-titles;
}
.card__p {
	@include font ($font-subtitle, $text-xxsmall);
	width: 280px;
	line-height: 1.4;
	color: rgb(2, 2, 2);
	margin: 20px 0;
	font-weight: bold;
}
.bg {
	display: inline-block;
	color: #fff;
	background: cornflowerblue;
	padding: 5px 10px;
	border-radius: 50px;
	font-size: .7em;
}
.button {
	width: fit-content;
	height: fit-content;
	margin-top: 10px;
	a {
		display: inline-block;
		overflow: hidden;
		position: relative;
		font-size: 11px;
		color: #111;
		text-decoration: none;
		padding: 10px 15px;
		border: 1px solid #aaa;
		font-weight: bold;
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: -10px;
			width: 0%;
			background: #111;
			height: 100%;
			z-index: -1;
			transition: width 0.3s ease-in-out;
			transform: skew(-25deg);
			transform-origin: right;
		}
		&:hover {
			color: #fff;
			transition: all 0.5s ease;
			&:after {
				width: 150%;
				left: -10px;
				transform-origin: left;
			}
		}
		&:nth-of-type(1) {
			border-radius: 50px 0 0 50px;
			border-right: none;
		}
		&:nth-of-type(2) {
			border-radius: 0px 50px 50px 0;
		}
	}
}
.cart-icon {
	padding-right: 8px;
}
/* BLOG */
.blog {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	padding: $spacing-large;
	align-items: center;
	justify-content: flex-end;
	max-width: 100%;
}
.index__blog__img {
	flex: 1 1 50%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.index__blog__info {
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
	padding: $spacing-medium;
	gap: $spacing-medium;
	max-width: 100%;
}
.index__blog__titulo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 400px;
	font-size: $text-medium;
	font-weight: bold;
	color: #111;
	align-items: center;
}
.index__blog__p {
	@include font ($font-general, $text-xxsmall);
	color: #111;
	display: flex;
}
.index__blog__link {
	@include font ($font-general, $text-xxsmall);
	font-weight: bold;
	color: #111;
	display: flex;
	align-self: flex-end;
}
