/* INDEX */ 
.carousel-inner {
	height: auto;
	img {
		width: 100px;
		max-height: 460px;
	}
}

/* NOVEDADES */
.title__card{
    text-align: center;
    font-size: $text-xsmall;
    margin: 0;
    padding-top: $spacing-medium;
}
a{
    text-decoration: none;
}
.gallery__amigu{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin:50px 0;

}
.cards__amigu{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: #f2f2f2;

}
.cards__amigu:hover{
    box-shadow: 0 03px 06px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.22);
    transform: translate(0px, -8px);
}
.card__image{
    @include sizes(200px,200px);
    text-align: center;
    margin: 0 auto;
    display: block;

}
.card__p{
  text-align: center;
  padding-top: 0 8px;
  max-width: fit-content;
}
.price__card{
    font-size: 26px;
    text-align: center;
    color:$color-text;
}  
.card__item__content{
    list-style: none;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.btn__amigu{
    width: 100%;
    @extend .button__formulario;
    cursor: pointer;
    margin: 0 auto;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;

}
    

/* BLOG */
.blog {
	display: flex;
	flex-direction: row;
	padding: $spacing-large;
	align-items: center;
	justify-content: flex-end;
	max-width: 100%;
}
.index__blog__img {
	flex: 1 1 50%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}
.index__blog__info {
	flex: 1 1 50%;
	display: flex;
	flex-wrap: wrap;
	padding: $spacing-medium;
	gap: $spacing-medium;
	max-width: 100%;
}
.index__blog__titulo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-right: 400px;
	font-size: $text-medium;
	font-weight: bold;
	color: #111;
	align-items: center;
}
.index__blog__p {
	@include font ($font-general, $text-xxsmall);
	color: #111;
	display: flex;
}
.index__blog__link {
	@include font ($font-general, $text-xxsmall);
	font-weight: bold;
	color: #111;
	display: flex;
	align-self: flex-end;
}

/* GALLERY HOVER*/
.index__gallery{
    @include sizes(85vw, 60vmin);
    display: flex;
    gap:5px;   
    align-items: center;
    justify-content: center;
    padding-left: $spacing-medium;

}
.index__gallery img{
    max-width: 100%;
    flex:1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
    border-radius: 10px;
}
.index__gallery img:hover{
    flex:2;
}

@media (max-width: 480px){
	.blog{
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
	}

}

@media (max-width: 1000px){
    .cards__amigu .index__blog__info{ 
        width: 45%;
    }
}
@media (max-width: 480px){
    .cards__amigu .index__blog__info{
        width: 100%;
    }
    
}