/* MIXINS */
@mixin sizes($width, $height){
    width: $width;
    height: $height; 
}
/*Uso de mixin size en .products__link*/
@mixin font ($ff,$fs) {
  font-family: $ff;
  font-size: $fs;
}
/*Uso de mixin font en .products__link*/
