* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  h1{
    font-family: $font-title;
    color: $color-titles;
  }
   h2 {
    font-family: $font-title;
    color: $color-titles;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    font-weight: bold;
  
  }
  
  h3 {
    font-family: $font-subtitle;
    font-weight: bold;
  }
  h5 h6 {
    font-family: $font-subtitle;
    font-weight: bold;
  }
  p {
    font-family: $font-general;
  
  }
  a {
    font-family: $font-general;
    color: $color-titles;
    text-decoration: none;
  }
  body {
    background-color: $color-background;
    flex-direction: row;
  }
  
  header {
    display: flex;
    flex-direction: column;
    background-color: $color-header;
    background-size: contain;
    background-position: center center;
    flex-wrap: wrap;
    max-width: 100%;
  
  }