/* VARIABLES */
/* colors */
$color-header: #F9CEEE;
$color-footer: #CCF3EE;
$color-background: #F9F3EE;
$color-text: black;
$color-titles: grey;
$color-buttons: #97C4B8;
/* spacings */
$spacing-xsmall: 1rem;
$spacing-small: 1.2rem;
$spacing-medium: 2.4rem;
$spacing-large: 6rem;
$spacing-vlarge: 15rem;
/* fonts family */
$font-title: 'Fira Sans Condensed', sans-serif;
$font-general: 'Hind Madurai', sans-serif;
$font-subtitle: 'Nunito Sans', sans-serif;
/* fonts size */
$text-large:4.6em;
$text-medium:2.4em;
$text-small:1.6em;
$text-xsmall:1.4em;
$text-xxsmall:0.9em
